section{
    padding:2rem 7%;
}
.home{
    min-height: 10vh;
    display: flex;
    align-items: center;
    background:url(https://all.accor.com/middleware/media/1385726767253/1660626901574/1280x720.v3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 30rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:#0a0a0a;
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:0rem 0;
    color:#0b0b0b;   
     text-transform: uppercase;


}



ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}



/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

 
 
 
 
 
 
 
 
 
 .row{
    background-color: rgb(246, 242, 244);
}

.list-group 
{
    background-color: rgb(226, 226, 232);
}
.col-lg-3  {
    background-color:rgb(233, 241, 238) ;
}
.col-lg-9{
    background-color: rgb(245, 250, 251);
}

.btn{
 background-color:rgb(70, 73, 75);
}
.btn-outline-success{
    color:rgb(243, 235, 235);
} 
.list-group-item-action{
background-color: rgb(70, 73, 75);
/* background-color:rgb(44, 46, 45); */
}
.btn-block {
    background-color: black;
}
.btn:hover{
    background-color: rgb(4, 4, 4);
}
.btn:active{
background-color: brown;
}
* .row .no-gutters{
    background-color: black;
} 
/* .active, .btn:hover {
    background-color: #666;
    color: white;
  } */
